<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700"
/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />

<div class="wrapper">
  <div class="product-image-wrapper">
    <div class="product-image" style="background-image: url('{{image.large}}')">
      <img img-verify-rect="10,230,160,40" src="{{image.large}}" />
    </div>
  </div>

  <!-- AO HOTEL ONLY -->{{#ifEqual info.product_type 'HOTEL'}}
  <div class="sale-labels">
    <div id="refundable" class="sale-label sale-label--refundable">
      <i class="fas fa-shield-alt"></i>
      <span id="refundable-text" class="sale-label__text">REFUNDABLE </span>
    </div>
  </div>
  <div class="product-info">
    <div class="destination">
      <div class="name">{{title}}</div>
      <div class="location">{{info.destination_name}}</div>
    </div>
    <div class="product-details">
      {{#ifWithin info.discount min=11 max=80}}
      <span class="savings-rate">Up to {{info.discount}}% off </span> {{/ifWithin}}
    </div>
    <div class="cta">View Deal</div>
  </div>
  {{/ifEqual}}
  <!-- AO HOTEL ONLY -->

  <!-- CATALOGUE -->{{#ifEqual info.product_type 'WRD'}}
  <div class="sale-labels">
    <div id="customisable" class="sale-label sale-label--customisable">
      <i class="fas fa-star"></i>
      <span id="customisable-text" class="sale-label__text">customisable </span>
    </div>
    {{#ifContains info.tags 'flights'}}
    <div id="flights-inc" class="sale-label sale-label--flights-inc">
      <i class="fas fa-plane"></i>
      <span id="flights-inc-text" class="sale-label__text">Flights Included </span>
    </div>
    {{/ifContains}}
  </div>
  <div class="product-info">
    <div class="destination">
      <div class="name">{{title}}</div>
      <div class="location">{{info.destination_name}}</div>
    </div>
    <div class="product-details">
      <span class="end-date">Customise this offer </span>
    </div>
    <div class="cta">View Deal</div>
  </div>
  {{/ifEqual}}
  <!-- CATALOGUE -->

  <!-- IHP -->{{#ifEqual info.product_type 'IHP'}}
  <div class="sale-labels">
    {{#ifContains info.tags 'flights'}}
    <div id="flights-inc" class="sale-label sale-label--flights-inc">
      <i class="fas fa-plane"></i>
      <span id="flights-inc-text" class="sale-label__text">Flights Included </span>
    </div>
    {{/ifContains}}
  </div>
  <div class="product-info">
    <div class="destination">
      <div class="name">{{title}}</div>
      <div class="location">{{info.destination_name}}</div>
    </div>
    <div class="product-details">
      {{#ifWithin info.discount min=11 max=80}}
      <span class="savings-rate">Up to {{info.discount}}% off </span> {{/ifWithin}}
    </div>
    <div class="cta">View Deal</div>
  </div>
  {{/ifEqual}}
  <!-- IHP -->

  <!-- 3PP PACKAGE -->{{#ifEqual info.product_type 'PACKAGE'}}
  <div class="sale-labels">
    {{#ifEqual info.travel 'FLIGHT'}}
    <div id="flights-inc" class="sale-label sale-label--flights-inc">
      <i class="fas fa-plane"></i>
      <span id="flights-inc-text" class="sale-label__text">Flights Included </span>
    </div>
    {{/ifEqual}}
  </div>
  <div class="product-info">
    <div class="destination">
      <div class="name">{{title}}</div>
      <div class="location">{{info.destination_name}}</div>
    </div>
    <div class="product-details">
      {{#ifWithin info.discount min=11 max=80}}
      <span class="savings-rate">Up to {{info.discount}}% off </span> {{/ifWithin}}
    </div>
    <div class="cta">View Deal</div>
  </div>
  {{/ifEqual}}
  <!-- 3PP PACKAGE -->
</div>
