@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro:style=Light');
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro:style=Regular');
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro:style=Semibold');
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro:style=Regular');
  font-stretch: normal;
  font-style: regular;
  font-weight: 700;
}

body {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.25);
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  width: 600px;
  height: 551px;
}

.wrapper {
  width: 600px;
  height: 520px;
  text-align: center;
}

.product-image-wrapper {
  position: relative;
  height: 320px;
  background: white;
}

.product-image {
  height: 308px;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  border: 0 none #f1f1f1 !important;
}

.product-image img {
  max-height: 100%;
  visibility: hidden;
}

.sale-labels {
  position: absolute;
  left: 8px;
  top: 10px;
  z-index: 2;
}

.sale-label {
  display: inline-block;
  margin: 0 2px;
  box-sizing: border-box;
  padding: 4px 9px;
  border-radius: 3px;
  color: #ffffff;
  position: relative;
  font-size: 10px;
  font-size: 0.8rem;
}

.sale-label:before {
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: 1.2rem;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
  padding: 0px 4px;
  font-size: 0.8rem;
}

.sale-label__text {
  margin-left: 4px;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  padding-right: 3px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.7px;
  font-weight: 600;
}

/* Refundable Classes */
.sale-label--refundable {
  background-color: #008c73;
}

/* Flights Included Tag Classes */
.sale-label--flights-inc {
  background-color: #1a1a1a;
}

/* Customisable */
.sale-label--customisable {
  background-color: #583092;
}

.product-info {
  background: white;
  padding: 5px 20px 10px 20px;
  height: 230px;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 1px 0 #bcbcbc;
}

.destination {
  height: 80px;
  overflow: hidden;
  text-transform: none;
}

.destination .name {
  color: #1a1a1a;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 400 !important;
  font-size: 23px;
  line-height: 28px;
  max-height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: -webkit-center;
  text-size-adjust: 100%;
  vertical-align: top;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-font-smoothing: antialiased;
}

.destination .location {
  color: #6a6a6a;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 20px;
  max-height: 23px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: -webkit-center;
  text-size-adjust: 100%;
  vertical-align: top;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  margin-top: 5px;
}

.product-details {
  color: #1a1a1a;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 27px;
  max-height: 27px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: -webkit-center;
  text-size-adjust: 100%;
  vertical-align: top;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-font-smoothing: antialiased;
}

.product-details .savings-rate {
  color: #ff8c00;
  font-weight: bold;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 17px;
  line-height: 21px;
  text-align: -webkit-center;
  text-size-adjust: 100%;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-font-smoothing: antialiased;
}

.cta {
  color: #ff8c00;
  display: inline-block;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 1px;
  margin-top: 20px;
  padding: 10px 15px 10px 15px;
  border: 1px solid #ff8c00;
  border-radius: 4px;
  text-transform: uppercase;
  width: 150px;
  text-align: -webkit-center;
  text-size-adjust: 100%;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-font-smoothing: antialiased;
}
